h1, h2, h3, h4, h5, h6 {
	font-family: 'Pacifico', cursive;
}

body {
	background-image: url("../image/patinhas.png");
}

input {
	border-radius: 10px;
    border: 1px solid #FFA4E6 !important;
}
 
label {
	font-size: 1.1rem;
}

#content-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/patinhas.png");
}

#content-form {
    padding: 0 30px 30px 30px;
    border-radius: 10px;
}

#content-form h2 {
	margin: 60px 0 45px 0;
}

#login {
    align-items: center;
    display: flex;  
    justify-content: center;
    height: auto;
    width: 40%;
    background-color: #80f5de;
    border-radius: 10px;
    color:white;
    padding: 30px !important;
}

#titulo-login {
	margin-bottom: 15px;
}

#form-login {
	width: 100%;
}

#login-logo {
	text-align: center;
	margin-bottom: 15px;
}

#button-style {
    background: #FFA4E6;
    color: white;
    width: 100%;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;	
}

.container {
	background-color: white;
	height: 100%;
}    

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
   	color: #FFA4E6 !important;
   	border-color: #80F5DE #80F5DE #fff;
}

.nav-tabs {
    border-bottom: 1px solid #80F5DE;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #80F5DE !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #FFA4E6 #FFA4E6 #FFA4E6;
    
}

.nav-link {
	color: #80F5DE !important;
}

.nav-tabs .dropdown-menu {
	background-color: #FFA4E6; 
}

.nav-tabs .dropdown-menu a {
	color: white; 
}

#titulo-principal {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 60px;
}

div#quadros-index {
    width: 80%;
    margin-left: 10%;
}

.quadro {
    border: 3px solid #FFA4E6;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
}

.quadro h3 {
	text-align: center;
	margin-bottom: 15px;
}

.quadro a {
	color: black;
}

.quadro ul {
    list-style-type: none;
}

.icon-patinha {
	height: 14px;
}

#alinhamento-icon {
	height: 70px;
    margin-right: 20px;
    border: 3px solid #80F5DE;
    padding: 5px;
    border-radius: 100%;
}

#lista {
	border-radius: 10px;
}

#lista li {
	margin-top: 1rem;
	border-bottom: 1px solid #FFA4E6;
}

#lista li a{
	text-align: center;
}

.icon-lista {
	height: 15px;
	text-align: center;
}

#info-lista {
    background-color: #FFA4E6;
    color: white;
    font-weight: 600;
    padding-top: 1rem;
}
