<html>
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Pet Care</title>
		<link type="text/css" rel="stylesheet" href="./static/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="./static/css/personalizacao.css" />
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" />
		<link rel="shortcut icon" type="image/png" href="./static/image/logo.png"/>
	</head>
	<body>
		<div class="container">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cliente</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="paginas?acao=InicioCadastroCliente&pacote=cliente.">Cadastrar</a>
						<a class="dropdown-item" href="paginas?acao=ListaClientes&pacote=cliente.">Listar</a>
						
						<a class="dropdown-item" href="#">Something else here</a>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="paginas?acao=Logout">Sair</a>
				</li>		
			</ul>
			<h1 id="titulo-principal">Pet Care</h1>
			<div id="quadros-index" class="row justify-content-center">
				<div class="col-6">
					<div class="quadro">
						<h3>Cliente</h3>
						<ul>
							<li>
								<a href="paginas?acao=InicioCadastroCliente&pacote=cliente."><i class="fas fa-paw"></i> Cadastrar </a>
							</li>
							<li>
								<a href="paginas?acao=ListaClientes&pacote=cliente."><i class="fas fa-paw"></i> Listar</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-6">
					<div class="quadro">
						<h3>Veterinário</h3>
						<ul>
							<li>
							
							</li>
								<a href="paginas?acao=InicioCadastroVeterinario&pacote=veterinario."><i class="fas fa-paw"></i> Cadastrar </a>
							<li>
								<a href="paginas?acao=ListaVeterinarios&pacote=veterinario."><i class="fas fa-paw"></i> Listar </a>
							
							</li>
						</ul>
					</div>
				</div>
				<div class="col-12">
					<div class="quadro">
						<h3>Pet</h3>
						<ul>
							<li>
								<a href="paginas?acao=InicioCadastroPet&pacote=pet."><i class="fas fa-paw"></i> Cadastrar </a>
							</li>
							<li>
								<a href="paginas?acao=ListaPets&pacote=pet."><i class="fas fa-paw"></i> Listar </a>
							</li>
						</ul>
					</div>
				</div>	 
			</div>	
		</div>
		<script src="./static/js/jquery.js"></script>
		<script src="./static/js/popper.min.js"></script>
		<script src="./static/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$('.dropdown-toggle').dropdown()
		</script>
	</body>
</html>